<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
      http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
      http://www.springframework.org/schema/aop 
      http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
      http://www.springframework.org/schema/tx 
      http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
      http://www.springframework.org/schema/security
      http://www.springframework.org/schema/security/spring-security-2.0.4.xsd">


	<security:http
		auto-config="false"
		servlet-api-provision="false"
		access-denied-page="/accessDenied.jsp" 
	>

		<security:intercept-url pattern="/html/db/**"
			access="ROLE_USER" />
		<security:intercept-url pattern="/html/ent/**"
			access="ROLE_ENTERPRISE_ADMIN" />

		<security:intercept-url pattern="/html/incl/**"
			filters="none" />
		<security:intercept-url pattern="/html/sgnup/**"
			filters="none" />
		<security:intercept-url pattern="/html/lgn/**" />
		<security:intercept-url pattern="/html/srvy/**" />

		<!-- requires-channel="https" -->


		<security:form-login login-page="/html/lgn.html"
			login-processing-url="/lgn/j_acegi_security_check"
			default-target-url="/html/db/db.html" authentication-failure-url="/html/lgn.html?fd=1" />

		<security:logout logout-url="/j_oas_lgt"
			logout-success-url="/html/oas.html" />

		<security:remember-me data-source-ref="dataSource" />
	</security:http>

	<bean class="org.springframework.web.filter.CharacterEncodingFilter">
		<property name="encoding" value="utf8" />
		<property name="forceEncoding" value="true" />
		<security:custom-filter before="FIRST" />
	</bean>

	<security:authentication-provider
		user-service-ref="userDetailsService"></security:authentication-provider>


</beans>