<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
		http://www.directwebremoting.org/schema/spring-dwr
		http://www.directwebremoting.org/schema/spring-dwr-2.0.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-2.5.xsd"
	default-dependency-check="none" default-lazy-init="false">

	<!--
		
		Identify this application to the Sane Stack
		
	-->
	<bean id="saneContext" class="ca.inforealm.core.SaneContextImpl"
		parent="abstractSaneContext">
		<property name="applicationIdentifier" value="OAS" />
	</bean>


	<!--
		<alias name="resourceStringService" alias="messageSource" />
	-->
	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="useCodeAsDefaultMessage" value="true" />
		<property name="basenames" value="content,enterprise,builder,services,reporting" />

	</bean>


	<!--  id="exceptionResolver" 
		class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
	-->
	<bean id="handlerExceptionResolver"
		class="com.oas.spring.EmailingExceptionResolver">
		<property name="mailTo" value="production-errors@onlyasurvey.com"/>
		<property name="exceptionMappings">
			<props>
				<prop key="java.lang.Exception">defaultException</prop>
				<prop key="java.lang.RuntimeException">defaultException</prop>
			</props>
		</property>
		<property name="warnLogCategory" value="ExceptionResolver" />
		<property name="defaultStatusCode" value="200" />
		<property name="defaultErrorView" value="defaultException" />
	</bean>
</beans>