<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
		http://www.directwebremoting.org/schema/spring-dwr
		http://www.directwebremoting.org/schema/spring-dwr-2.0.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-2.5.xsd"
	default-dependency-check="none" default-lazy-init="false">



	<!-- 
	
	Scheduler
	
	-->
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="invitationMailOutSchedulerTrigger" />
				<ref bean="responseMaintenanceSchedulerTrigger" />
			</list>
		</property>
	</bean>




	<!-- 
		Mail Sender
	-->
	<bean id="invitationMailOutScheduler"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="mailOutService" />
		<property name="targetMethod" value="processOneItem" />
		<property name="concurrent" value="true" />
	</bean>

	<bean id="invitationMailOutSchedulerTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerBean">
		<property name="jobDetail" ref="invitationMailOutScheduler" />
		<property name="startDelay" value="1000" />
		<property name="repeatInterval" value="500" />
	</bean>



	<!-- 
		Response Maintenance
	-->
	<bean id="responseMaintenanceSchedulerTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerBean">
		<property name="jobDetail">
			<bean id="responseMaintenanceScheduler"
				class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
				<property name="targetObject" ref="responseMaintenanceService" />
				<property name="targetMethod" value="cleanUpPartialResponses" />
				<property name="concurrent" value="false" />
			</bean>
		</property>
		<property name="startDelay" value="60000" />
		<!-- invoke once per hour -->
		<property name="repeatInterval" value="300000" />
	</bean>


</beans>
