<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%p - %C{1}.%M(%L) | %m%n" />
		</layout>
	</appender>


	<!-- Limit the org.apache category to INFO as its DEBUG is verbose -->
	<category name="org.apache">
		<priority value="WARN" />
		<appender-ref ref="CONSOLE" />
	</category>

	<category name="org.springframework">
		<priority value="INFO" />
		<appender-ref ref="CONSOLE" />
	</category>
	<category name="org.hibernate">
		<priority value="WARN" />
		<appender-ref ref="CONSOLE" />
	</category>
	<category name="ca.inforealm.core">
		<priority value="DEBUG" />
		<appender-ref ref="CONSOLE" />
	</category>

	<root>
		<priority value="DEBUG" />
		<!-- appender-ref ref="FILE2"/ -->
		<appender-ref ref="CONSOLE" />
	</root>
</log4j:configuration>