
/*-------------------------------- */
/* Only a survey styles */
/*-------------------------------- */
div.OAS_survey{
  padding: .4em .4em  .4em  1em  ;
}

div.OAS_survey fieldset{
  border: 1px solid #ccc ; /* D6DEEC  */
}

div.OAS_survey fieldset {
  padding: .4em  ;
}

div.OAS_survey fieldset legend{
  padding: .3em ;
  font-size:100% ;
}


div.OAS_survey h1{
   font-size:110% ;
   padding: 0 ;
   margin: .3em .3em 1em 0  ;
}

/* -------------------------- */
/* question styles  */
/* -------------------------- */
div.OAS_survey fieldset.essayQuestion label{
	width:100% ;
}

div.OAS_survey fieldset.essayQuestion input{
	padding: 0 0 10px 0 ;
}


/* for multiple choice */
div.OAS_survey fieldset.multipleChoice{
	margin-top:10px ;
	margin-bottom:10px ;
	width:90% ;
	vertical-align:middle ;
}

div.OAS_survey fieldset.multipleChoice div{
	clear: both ;
	padding: .4em 0 0;
	margin: 0 .2em 0 0 ;
}

div.OAS_survey fieldset.multipleChoice input{
	float: left;
	padding: .2em;
	font-weight: normal;
	margin: .2em;
}

div.OAS_survey fieldset.multipleChoice label{
	float: left;
	padding: .2em;
 	width: 60%;
	height:1% ;
	clear:right ;
}

div.OAS_survey fieldset.multipleChoice div.otherOption  label{
	clear: left ;
	width: 30%;
	float: left; 
	padding: .2em;
	font-weight: normal;
	display:block;
	height:1% ;
}

div.OAS_survey fieldset.multipleChoice div.otherOption input{
	margin: .2em;
}

/* for ratioQuestion choice */
div.OAS_survey fieldset.ratioQuestion{
	margin-top:10px ;
	margin-bottom:10px ;
	width:90% ;
	vertical-align:left ;
}

div.OAS_survey fieldset.ratioQuestion label{
	padding: .6em;
	text-align:center ;
	background-color:#fff ;
	margin-top: .3em;
}

div.OAS_survey fieldset.ratioQuestion input{
    margin-top: .2em;
}


/* for select lists */
div.OAS_survey fieldset.selectList{
	margin-top:10px ;
	margin-bottom:10px ;
	width:90% ;
	vertical-align:middle ;
}

div.OAS_survey fieldset.selectList div{
	clear: both ;
	padding: .2em 0 0;
	margin: 0.2em 0 0 ;
}

div.OAS_survey fieldset.selectList input{
	float: left;
	padding: .2em;
	font-weight: normal;
	margin: .2em;
}

div.OAS_survey fieldset.selectList label{
	float: left;
	padding: .2em .2em .6em .2em ;
 	width: 90%;
	height:1% ;
	clear:both ;
}

/* for text areas */
div.OAS_survey fieldset.textArea{
	margin-top:10px ;
	margin-bottom:10px ;
	width:90% ;
	vertical-align:middle ;
}

div.OAS_survey fieldset.textArea div{
	clear: both ;
	padding: .2em 0 0;
	margin: 0.2em 0 0 ;
}

div.OAS_survey fieldset.textArea input{
	float: left;
	padding: .2em;
	font-weight: normal;
	margin: .2em;
}

div.OAS_survey fieldset.textArea label{
	float: left;
	padding: .2em .2em .6em .2em ;
 	width: 90%;
	height:1% ;
	clear:both ;
}

/* for text input */
div.OAS_survey fieldset.textInput{
	margin-top:10px ;
	margin-bottom:10px ;
	width:90% ;
	vertical-align:middle ;
}

div.OAS_survey fieldset.textInput div{
	clear: both ;
	padding: .2em 0 0;
	margin: 0.2em 0 0 ;
}

div.OAS_survey fieldset.textInput input{
	float: left;
	padding: .2em;
	font-weight: normal;
	margin: .2em;
}

div.OAS_survey fieldset.textInput label{
	float: left;
	padding: .2em .2em .6em .2em ;
 	width: 90%;
	height:1% ;
	clear:both ;
}


/* ------------------------------ */
/*  Question grid layout code
/* ------------------------------ */
div.OAS_survey div.OASRow {margin: 0; padding: 0; width: 100%; clear:left ;}

/* 2 column layout */
div.OAS_survey div.OAS2col1 {float: left; width: 20%; margin: 0 3px 0 0; padding: 0;}
div.OAS_survey div.OAS2col2 {float: left; width: 78%; margin: 0; padding: 0;}

/* 4 column layout */
div.OAS_survey div.OAS4col1 {float: left; width: 24%; margin: 0 3px 0 0; padding: 0;}
div.OAS_survey div.OAS4col2 {float: left; width: 24%; margin: 0 3px 0 0; padding: 0;}
div.OAS_survey div.OAS4col3 {float: left; width: 24%; margin: 0 3px 0 0; padding: 0;}
div.OAS_survey div.OAS4col4 {float: left; width: 24%; margin: 0; padding: 0;}

/* ---------------------------------------- */
/*  Used to layout ratio questions
/ *   1-5,1-6,1-7, 1-8, 1-9, 1-10, 1-11
/* ---------------------------------------- */
/* 5 column layout */
div.OAS_survey div.OAS5col1 {float: left; width: 19%; margin: 0 3px 0 0; padding: 0;}
div.OAS_survey div.OAS5col2 {float: left; width: 19%; margin: 0 3px 0 0; padding: 0;}
div.OAS_survey div.OAS5col3 {float: left; width: 19%; margin: 0 3px 0 0; padding: 0;}
div.OAS_survey div.OAS5col4 {float: left; width: 19%; margin: 0 3px 0 0; padding: 0;}
div.OAS_survey div.OAS5col5 {float: left; width: 18%; margin: 0; padding: 0;}

/* 6 column layout */
div.OAS_survey div.OAS6col1 {float: left; width: 5%; margin: 0 3px 0 0; padding: 0;}
div.OAS_survey div.OAS6col2 {float: left; width: 5%; margin: 0 3px 0 0; padding: 0;}
div.OAS_survey div.OAS6col3 {float: left; width: 5%; margin: 0 3px 0 0; padding: 0;}
div.OAS_survey div.OAS6col4 {float: left; width: 5%; margin: 0 3px 0 0; padding: 0;}
div.OAS_survey div.OAS6col5 {float: left; width: 5%; margin: 0; padding: 0;}
div.OAS_survey div.OAS6col6 {float: left; width: 5%; margin: 0; padding: 0;}

/* 7 column layout */
div.OAS_survey div.OAS7col1 {float: left; width: 5%; margin: 0 3px 0 0; padding: 0;}
div.OAS_survey div.OAS7col2 {float: left; width: 5%; margin: 0 3px 0 0; padding: 0;}
div.OAS_survey div.OAS7col3 {float: left; width: 5%; margin: 0 3px 0 0; padding: 0;}
div.OAS_survey div.OAS7col4 {float: left; width: 5%; margin: 0 3px 0 0; padding: 0;}
div.OAS_survey div.OAS7col5 {float: left; width: 5%; margin: 0 3px 0 0; padding: 0;}
div.OAS_survey div.OAS7col6 {float: left; width: 5%; margin: 0 3px 0 0; padding: 0;}
div.OAS_survey div.OAS7col7 {float: left; width: 5%; margin: 0 3px 0 0; padding: 0;}

/* 8 column layout */
div.OAS_survey div.OAS8col1 {float: left; width: 5%; margin: 0 3px 0 0; padding: 0;}
div.OAS_survey div.OAS8col2 {float: left; width: 5%; margin: 0 3px 0 0; padding: 0;}
div.OAS_survey div.OAS8col3 {float: left; width: 5%; margin: 0 3px 0 0; padding: 0;}
div.OAS_survey div.OAS8col4 {float: left; width: 5%; margin: 0 3px 0 0; padding: 0;}
div.OAS_survey div.OAS8col5 {float: left; width: 5%; margin: 0 3px 0 0; padding: 0;}
div.OAS_survey div.OAS8col6 {float: left; width: 5%; margin: 0 3px 0 0; padding: 0;}
div.OAS_survey div.OAS8col7 {float: left; width: 5%; margin: 0 3px 0 0; padding: 0;}
div.OAS_survey div.OAS8col8 {float: left; width: 5%; margin: 0 3px 0 0; padding: 0;}

/* 9 column layout */
div.OAS_survey div.OAS9col1 {float: left; width: 5%; margin: 0 3px 0 0; padding: 0;}
div.OAS_survey div.OAS9col2 {float: left; width: 5%; margin: 0 3px 0 0; padding: 0;}
div.OAS_survey div.OAS9col3 {float: left; width: 5%; margin: 0 3px 0 0; padding: 0;}
div.OAS_survey div.OAS9col4 {float: left; width: 5%; margin: 0 3px 0 0; padding: 0;}
div.OAS_survey div.OAS9col5 {float: left; width: 5%; margin: 0 3px 0 0; padding: 0;}
div.OAS_survey div.OAS9col6 {float: left; width: 5%; margin: 0 3px 0 0; padding: 0;}
div.OAS_survey div.OAS9col7 {float: left; width: 5%; margin: 0 3px 0 0; padding: 0;}
div.OAS_survey div.OAS9col8 {float: left; width: 5%; margin: 0 3px 0 0; padding: 0;}
div.OAS_survey div.OAS9col9 {float: left; width: 5%; margin: 0 3px 0 0; padding: 0;}

/* 10 column layout */
div.OAS_survey div.OAS10col1 {float: left; width: 5%; margin: 0 3px 0 0; padding: 0;}
div.OAS_survey div.OAS10col2 {float: left; width: 5%; margin: 0 3px 0 0; padding: 0;}
div.OAS_survey div.OAS10col3 {float: left; width: 5%; margin: 0 3px 0 0; padding: 0;}
div.OAS_survey div.OAS10col4 {float: left; width: 5%; margin: 0 3px 0 0; padding: 0;}
div.OAS_survey div.OAS10col5 {float: left; width: 5%; margin: 0 3px 0 0; padding: 0;}
div.OAS_survey div.OAS10col6 {float: left; width: 5%; margin: 0 3px 0 0; padding: 0;}
div.OAS_survey div.OAS10col7 {float: left; width: 5%; margin: 0 3px 0 0; padding: 0;}
div.OAS_survey div.OAS10col8 {float: left; width: 5%; margin: 0 3px 0 0; padding: 0;}
div.OAS_survey div.OAS10col9 {float: left; width: 5%; margin: 0 3px 0 0; padding: 0;}
div.OAS_survey div.OAS10col10 {float: left; width: 5%; margin: 0 3px 0 0; padding: 0;}

/* 11 column layout */
div.OAS_survey div.OAS11col1 {float: left; width: 5%; margin: 0 3px 0 0; padding: 0;}
div.OAS_survey div.OAS11col2 {float: left; width: 5%; margin: 0 3px 0 0; padding: 0;}
div.OAS_survey div.OAS11col3 {float: left; width: 5%; margin: 0 3px 0 0; padding: 0;}
div.OAS_survey div.OAS11col4 {float: left; width: 5%; margin: 0 3px 0 0; padding: 0;}
div.OAS_survey div.OAS11col5 {float: left; width: 5%; margin: 0 3px 0 0; padding: 0;}
div.OAS_survey div.OAS11col6 {float: left; width: 5%; margin: 0 3px 0 0; padding: 0;}
div.OAS_survey div.OAS11col7 {float: left; width: 5%; margin: 0 3px 0 0; padding: 0;}
div.OAS_survey div.OAS11col8 {float: left; width: 5%; margin: 0 3px 0 0; padding: 0;}
div.OAS_survey div.OAS11col9 {float: left; width: 5%; margin: 0 3px 0 0; padding: 0;}
div.OAS_survey div.OAS11col10 {float: left; width: 5%; margin: 0 3px 0 0; padding: 0;}
div.OAS_survey div.OAS11col11 {float: left; width: 5%; margin: 0; padding: 0;}

/* -------------------------- */
/* Global CSS  */
/* -------------------------- */
div.OAS_survey fieldset legend{
  padding: 0 0 .9em 0 ;
}


div.OAS_survey h2{
	color:#000 ;
	background-color:#DDE6F9 ;/* 336699 */
	padding: .4em 0 .4em .2em ;
}

.seperator{
	border-bottom: 1px solid #003399 ;
}


.noBorder{
	border:none ;
}

div.OAS_survey h3{
	font-size:100% ;
}



/* Form layout code */ 
div.OAS_survey  fieldset.twoColumnLayout div {
	clear: left;  
	padding: .2em 0 0;
	margin: 0.2em 0 0 ;
	overflow:auto ; 
	height:1% ;
}

div.OAS_survey  fieldset.twoColumnLayout div label {
	clear: left ;
	width: 20%;
	float: left; 
	padding: .2em;
	font-weight: normal;
	display:block;
	height:1% ;
}

div.OAS_survey fieldset.twoColumnLayout div input {
	margin: .2em;
}

div.OAS_survey fieldset.twoColumnLayout div select {
	margin: .2em;
}


/* two column grid */
div.OAS_survey div.grid_row{
	padding: .2em 0 0;
	margin: 0.2em 0px 0px;
	overflow:auto ;
}

div.OAS_survey div.grid_row div.cell_1{
	clear: left;
	float: left;
	width: 20%;
	padding: .2em;
	display:block;
	height:1% ; 
}

div.OAS_survey div.grid_row div.cell_2{
	padding: .2em;
	display:block;
	height:100% ; 
}

/* Buttons  */
div.OAS_survey  .button {
    width:auto;
    overflow:visible;
	padding: .3em .6em ;
	color: #000000;
	font-weight: bold;
}

/*  Error div */
div.OAS_survey div.errorMessage{
	vertical-align:middle ;
	padding:0.8em;
	border: 1px dashed #FF0000 ;
	background-color:#FFD7D7 ;
	color:#000000 ;
	width:90% ;
}

/*  Success div */
div.OAS_survey div.successMessage{
	vertical-align:middle ;
	padding:0.8em;
	border: 1px dashed #84FF84 ;
	background-color: #E8FFE8 ;
	color:#000000 ;
	width:85% ;
}

/*  for help text wtih labels  */
div.OAS_survey span.helpText{
	font-size: 80% ;
}

/*  hide text in links  */
div.OAS_survey span.hiddenLinkText{
	position:absolute;
	left:0px;
	top:-500px;
	width:1px;
	height:1px;
	overflow:hidden;
}

.clearBoth{
	clear:both ;
}

.clearRight{
	clear:right ;
}

.clearLeft{
	clear:left ;
}



