@CHARSET "ISO-8859-1";

.devobsolete {
	background-color: #ffbbbb;
	text-decoration: line-through;
}

.devcheck {
	background-color: #ddbbdd;
	font-weight: bold;
}

.devtodo {
	background-color: #bbffbb;
	font-style: italic;
}

div.devtodo {
	border: 1px solid black;
	padding: 1em;
	margin: 1em;
}